/*通用*/
*{
	margin: 0;
	padding: 0;
}
.listStyle{
	list-style:none;
}
.f_weight{
	font-weight: bold;
}
/*媒体查询适配*/
@media screen and (max-width: 320px) {
    body{font-size: 14px;}
    .media-font{font-size: 12px !important;}
    .boutique .boutique_l{left:25% !important;}
    .boutique .boutique_r{right:25% !important;}
}
@media screen and (min-width: 321px) and (max-width: 413px) {
    body{font-size: 16px;}
    .media-font{font-size: 14px !important;}
    .boutique .boutique_l{left:25% !important;}
    .boutique .boutique_r{right:25% !important;}
}
@media screen and (min-width: 414px) and (max-width: 639px) {
    body{font-size: 17px;}
}
@media screen and (min-width: 640px) {
    body{font-size: 18px;}
}

/*标题*/
.title{
    position:relative;
}
.title #title-left{
	display: block;
	position: absolute;
    left: 0;
    top:0;
}
.title #title-center{
	width: 90px;
	display: block;
	position: absolute;
    left:38%;
    top:0;
}
.title #title-center p{
	position: absolute;
}
.title #title-center img{
	width:90px;
	height:auto;
	padding-top: 10px;
}
.title #title-right{
	display: block;
	position: absolute;
    right: 0;
    top:0;
}
.map{
	font-size: 11px;
    display: block;
}    
/*图标导航*/
.viewimg{
   width: 40px;
   height: 40px;
}
.viewimg img{
   width: 40px;
   height: 40px;
}
/*车主头条*/
.headlines{
	font-size: 15px;
}
.headlines .headlinesImg{
	color: #fff;
	background: url(../img/images/home_c_03.png) no-repeat center center;
	background-size:100%;
}
.fff{
	margin: 5px 0;
	background-color: #fff;
}
/*精品推荐*/
.boutique-box .mui-table-view-cell{
	padding: 0;
}
.boutique-box{
	background-color: #fff;
}
.boutique{
	position: relative;
	height: 35px;
	line-height: 35px;
	background-color: #fff;
	font-weight: bold;
}
.boutique .boutique_l{
	position: absolute;
	left:27%;
	top: 50%;
	width: 50px;
	height: 1px;
	background-color: #ccc;
}
.boutique .boutique_r{
	position: absolute;
	right:27%;
	top: 50%;
	width: 50px;
	height: 1px;
	background-color: #ccc;
}
.boutique-box-l{
	height:240px;
	padding: 10px;
	background-color: #fff;
	background: url(../img/images/s_03.jpg) no-repeat right bottom;
	background-size: 60%;
}
.boutique-box-r-t{
	height:120px;
	padding: 10px;
	background-color: #fff;
	background: url(../img/images/home_b_02.png) no-repeat 95% 100%;
	background-size: 40%;
}
.boutique-box-r-b{
	height:120px;
	padding: 10px;
	background-color: #fff;
	background: url(../img/images/home_b_01.png) no-repeat right bottom;
	background-size: 50%;
}
.boutique-font-a{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	font-weight: bold;
}
.boutique-font-b{
	font-size: 12px;
}
.boutique-font-c{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: red;
}
.font-black{
	color: #000;
}
.font-yellow{
	color: rgb(255,126,28);
}
.font-blue{
	color: #007AFF;
}
.boder_l{
	border: 1px solid #eee;
}
.boder_r{
	border: 1px solid #eee;
}
.boder_t{
	border: 1px solid #eee;
}
.boder_b{
	border: 1px solid #eee;
}
/*广告*/
.ad{
	width: 100%;
	height: auto;
}
.ad img{
	width: 100%;
	height: auto;
	padding: 10px 0 5px 0;
}
/*猜你喜欢+九块九包邮*/
.tab{
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin: 10px 0;
    background: #fff;
}
.tab ul{
	width: 100%;
	height: 35px;
}
.tab ul li{
	width: 50%;
	height: 35px;
	padding-left: 15%;
	display: inline-block;
}
.tab .list-active{
	border-bottom: 1px solid #007AFF;
}
.rmb-num{
	font-size: 12px;
	text-decoration:line-through;
}
.font-red{
	color: red;
}
.tab-img{
	line-height:65px;
    max-width: 65px;
    height: 65px;
    margin-right: 10px;
}
.tab-title{
	font-size: 16px;
}
/*已经加载完了*/
.laded{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 0;
}
